  <div>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-10 place-content-center place-items-center">
      <div *ngFor="let id of urlTable | paginate: { itemsPerPage: 10, currentPage: page, id : 'pokedex', totalItems: totalResults }" >
        <app-pokemon-card [pokemonId]= id></app-pokemon-card>
      </div>
    </div>
  </div>

  <pagination-controls  id="pokedex"
                        (pageChange)="handlePageChange($event)"
                        (pageBoundsCorrection)="handlePageChange($event)"
                        [directionLinks]=true
                        [autoHide]=true
                        [responsive]=true
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
  </pagination-controls>
